name: Check (Semantic Versioning)

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write
  issues: write
  pull-requests: write

jobs:
  check-commit-messages:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0  # Required for semantic-release

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "24"

      - name: Get npm cache directory
        id: npm-cache-dir
        shell: bash
        run: echo "dir=$(npm config get cache)" >> ${GITHUB_OUTPUT}

      - uses: actions/cache@v5
        id: npm-cache # use this to check for `cache-hit` ==> if: steps.npm-cache.outputs.cache-hit != 'true'
        with:
          path: ${{ steps.npm-cache-dir.outputs.dir }}
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Install dependencies
        run: npm ci

      - name: Run semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.RELEASE_PAT }}
        run: |
          npx semantic-release --dry-run --branches "${GITHUB_REF_NAME}" --plugins "@semantic-release/commit-analyzer"

  discover-go-tags:
    runs-on: ubuntu-latest
    outputs:
      tags: ${{ steps.discover.outputs.tags }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Discover Go build tags
        id: discover
        run: |
          TAGS=$(grep -Rho '^//go:build .*' . \
            | sed 's|//go:build ||' \
            | grep -E '^[a-zA-Z_][a-zA-Z0-9_]*$' \
            | sort -u \
            | jq -R -s -c 'split("\n") | map(select(length > 0))')

          echo "Discovered tags:"
          echo "$TAGS"

          echo "tags=$TAGS" >> $GITHUB_OUTPUT

  check-go-source:
    needs: discover-go-tags
    runs-on: ubuntu-latest

    strategy:
      matrix:
        tag: ${{ fromJSON(needs.discover-go-tags.outputs.tags) }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup go
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'

      - uses: actions/cache@v5
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Check go source
        run: |
          go mod download
          go vet -tags "${{ matrix.tag }}" -v

  ci-pass:
    needs: check-go-source
    runs-on: ubuntu-latest
    name: CI passed
    steps:
      - run: echo "All matrix jobs passed!"
